.perspective-grid__container {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.perspective-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  transform: rotateX(60deg) translateY(19.5%);
  mask-image: linear-gradient(to bottom, transparent, black 70%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 70%, transparent);
}

.perspective-grid__cell-rays::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: -3px;
  width: 2px;
  height: 350%;
  background: linear-gradient(to top, rgba(0, 87, 255, 0.1), rgba(0, 87, 255, 0.8));
  animation: rays 4.5s linear infinite;
  transform: translateX(-50%);
}

@keyframes rays {
  0% {
    opacity: 1;
    transform: translateY(250%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
